.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}

.employee-grid,
.leaves-grid,
.approved-grid,
.pending-grid,
.declined-grid {
  padding: 20px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

.employee,
.leave,
.approved,
.pending,
.declined {
  font-size: 23px;
}

.count1, .count2, .count3, .count4, .count5 {
  color: #505050;
}

.employee-grid > div,
.leaves-grid > div,
.approved-grid > div,
.pending-grid > div,
.declined-grid > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
