.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}

.employee-grid,
.leaves-grid,
.approved-grid,
.pending-grid,
.declined-grid {
  padding: 20px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}
