@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px;
  font-family: 'Inter', sans-serif;
}

/* Sidebar */
.sidebar {
  background-color: #383636;
  color: white;
  transition: all 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 29px;
}

.bars {
  font-size: 24px;
  display: flex;
}

.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
  font-family: 'Inter';
  text-decoration: none;

}

.link:hover {
  background: rgb(136, 131, 131);
  color: black;
  transition: all 0.5s;
}

.active {
  background: rgb(136, 131, 131);
  color: black;
}

.link_text {
  font-size: 20px;
}

.sidebar--open {
  transform: translateX(0%);
}

/* Navigation Bar */
.logo {
  width: 58px;
  margin-left: 25px;
}

.navbar {
  width: 100%;
  left: 0px;
  top: 0px;
  background: #D9D9D9;
}